# pyup: ignore file
tbtrim
parso>=0.6.0
bpc-utils>=0.9.0
#f2format  # need to specify version
-e .
codecov
coverage

# temporary solution for f2format dependency
git+https://github.com/pybpc/f2format.git
